<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<h1>SEARCH RESULTS</h1>
<h1><%= pokemon.name %></h1>
<img src="<%= pokemon.sprites.front_default%>" alt="<%= pokemon.name %>">
<p>Type: <%= pokemon.types[0].type.name %> </p>
<p>Ability 1: <%= pokemon.abilities[0].ability.name %> </p>
<p>Ability 2: <%= pokemon.abilities[1].ability.name %> </p>
<p><%= pokemon.stats[0].stat.name %>: <%= pokemon.stats[0].base_stat %> </p>
<p><%= pokemon.stats[1].stat.name %>: <%= pokemon.stats[1].base_stat %> </p>
<p><%= pokemon.stats[2].stat.name %>: <%= pokemon.stats[2].base_stat %> </p>
<p><%= pokemon.stats[3].stat.name %>: <%= pokemon.stats[3].base_stat %> </p>
<p><%= pokemon.stats[4].stat.name %>: <%= pokemon.stats[4].base_stat %> </p>
<p><%= pokemon.stats[5].stat.name %>: <%= pokemon.stats[5].base_stat %> </p>
<form action="/profiles/pokemon" method="POST">
  <input type="text" name="name" hidden value="<%= pokemon.name %>">
  <input type="text" name="weight" hidden value="<%= pokemon.weight %>">
  <input type="text" name="imageUrl" hidden value="<%= pokemon.sprites.front_default%>">
  <button type="submit">Add to Collection</button>
</form>

<%- include('./partials/footer') %>
